*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
/* img {
  width: 50px;
} */
